/*setear nuestros archivos*/
body{
  box-sizing: border-box;
  color:#303030;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
/*clases reutilizables*/
.text-uppercase{
  text-transform: uppercase;
}
.box-header{
  display: inline-block;
}
/*clases especificas*/
.logo-header{
  width: 200px;
}

li{
  display: inline;
  list-style: none;/*quitar las viñetas de la  etiqueta "li"*/
}

li a {
  color: inherit; /* li heredará el color del body*/
  text-decoration: none;

}

header{
  position: relative;
}

nav{
  position: absolute;
  right: 5%;/* espacio a la derecha (5% del elemento padre)*/
  top: 50%;/*mitad del header*/
  transform: translateY(-50%);/*-50% del tamaño del elemento nav*/
}

section{
  text-align: center;
}

div{
  display: inline-block;
  width: 33%;

}

span{
  font-size: 60px;
}

body section:last-child{
  margin:30px 50px 0 50px ;
}

img[alt="laboratoria"]{
  width: 120px;
}

button{
  background-color:#f9a91a ;
  border: 0;
  border-radius: 5px;
  color:#fff;
  padding: 10px;
  font-weight: 600px;
}

.box-header ul li {/*selectores descendientes*/
  margin:0 15px;
}

span:hover, .box-header ul li:hover{
  color: #f9a91a;
}
